@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
:root {
    --bodyFont: 'Roboto', sans-serif;
    --bodyColor: #777777;
    --font: 19px;
    --white: #fff;
    --gray: #444;
    --blue: #4f9ec5;
    --lightgray: #eee;
    --padding: 100px 0;
    --transition: .3s ease;
}

/* basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--bodyFont);
    font-size: var(--font);
    color: var(--bodyColor);
    font-weight: 300;
    line-height: 1.8;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

/* header */
header {
    background-image: url(img/header.jpg);
    height: 70vh;
    background-position: center;
    background-size: cover;
    border-top: 10px solid var(--gray);
}